@using MVCGrid.Models;
@Model List<Student>
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AboutUs</h2>

<h3>Welcome to My first MVC About page</h3>

@{ string[] courses = { "C#", "ASP", "SQL", "MVC" }; }

<table border="1">
    <tr>
        <th>S.no</th>
        <th>CourseName</th>
    </tr>
    @{ for (int i = 0; i < courses.Length; i++)
        {
            <tr>
                <td>
                    @(i + 1)
                </td>
                <td>
                    @courses[i]
                </td>
            </tr>
        }
    }
</table>
    <h2>Student Details</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Gender</th>
    </tr>
    @{
        foreach (Student studentItem in Model)
        {
           
            <tr>
                
                <td>@studentItem.Name</td>
                <td>@studentItem.Class</td>
                <td>@studentItem.Gender</td>
            </tr>
        }
    }
</table>
