
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Employee</h2>

@using (Html.BeginForm())
{
    @Html.Label("Employee Name:")
    @Html.TextBox("Ename")
    <br />
    <br />
    @Html.Label("Department:")
    <select id="DeptName" name="DeptName">
        <option value="0">Select</option>
        <option value="1">Developer</option>
        <option value="2">Tester</option>
        <option value="3">B.A</option>
        <option value="4">Designer</option>
    </select>
    <br />
    <br />
    @Html.Label("Salary:")
    @Html.TextBox("Sal")
    <br />
    <br />
    @Html.Label("Position:")
    @Html.TextBox("Position")
    <br />
    <br />
    <input type="submit" name="btnCreate" id="btnCreate" value="Create Employee" />
    <br />
    <br />
    <a href="/">Back...</a>
}